In [1]:
!ls AD/data/

GSE98969_RAW.tar		    GSM2629401_AB1744.txt
GSE98969_experimental_design_f.txt  GSM2629402_AB1745.txt
GSM2629341_AB1442.txt		    GSM2629403_AB1746.txt
GSM2629342_AB1443.txt		    GSM2629404_AB1863.txt
GSM2629343_AB1444.txt		    GSM2629405_AB1864.txt
GSM2629344_AB1445.txt		    GSM2629406_AB2322.txt
GSM2629345_AB1446.txt		    GSM2629407_AB2323.txt
GSM2629346_AB1447.txt		    GSM2629408_AB2324.txt
GSM2629347_AB1448.txt		    GSM2629409_AB2325.txt
GSM2629348_AB1449.txt		    GSM2629410_AB2326.txt
GSM2629352_AB1547.txt		    GSM2629411_AB2327.txt
GSM2629353_AB1548.txt		    GSM2629412_AB2328.txt
GSM2629354_AB1549.txt		    GSM2629413_AB2329.txt
GSM2629355_AB1550.txt		    GSM2629414_AB2330.txt
GSM2629356_AB1551.txt		    GSM2629415_AB2331.txt
GSM2629357_AB1552.txt		    GSM2629416_AB2332.txt
GSM2629358_AB1553.txt		    GSM2629417_AB2333.txt
GSM2629359_AB1554.txt		    GSM2629418_AB2334.txt
GSM2629360_AB1555.txt		    GSM2629419_AB2335.txt
GSM2629361_AB1556.txt		    GSM2629420_AB2336.txt
GSM2629362_AB1557.txt		    GSM2629421_AB2337.txt
GSM2629363_AB1558.txt		    GSM2629422_AB2338.txt
GSM2629364_AB1667.txt		    GSM2629423_AB2339.txt
GSM2629365_AB1668.txt		    GSM2629424_AB2340.txt
GSM2629366_AB1709.txt		    GSM2629425_AB2341.txt
GSM2629367_AB1710.txt		    GSM2629426_AB2342.txt
GSM2629368_AB1711.txt		    GSM2629427_AB2343.txt
GSM2629369_AB1712.txt		    GSM2629428_AB2344.txt
GSM2629370_AB1713.txt		    GSM2629429_AB2345.txt
GSM2629371_AB1714.txt		    GSM2629430_AB2425.txt
GSM2629372_AB1715.txt		    GSM2629431_AB2426.txt
GSM2629373_AB1716.txt		    GSM2629432_AB2427.txt
GSM2629374_AB1717.txt		    GSM2629433_AB2428.txt
GSM2629375_AB1718.txt		    GSM2629434_AB2429.txt
GSM2629376_AB1719.txt		    GSM2629435_AB2430.txt
GSM2629377_AB1720.txt		    GSM2629436_AB2431.txt
GSM2629387_AB1730.txt		    GSM2629437_AB2432.txt
GSM2629388_AB1731.txt		    GSM2629438_AB2433.txt
GSM2629389_AB1732.txt		    GSM2629439_AB2434.txt
GSM2629390_AB1733.txt		    GSM2629440_AB2435.txt
GSM2629391_AB1734.txt		    GSM2629441_AB2436.txt
GSM2629392_AB1735.txt		    GSM2629442_AB2437.txt
GSM2629393_AB1736.txt		    GSM2629443_AB2438.txt
GSM2629394_AB1737.txt		    GSM2629444_AB2439.txt
GSM2629395_AB1738.txt		    GSM2629445_AB2440.txt
GSM2629396_AB1739.txt		    GSM2629446_AB2441.txt
GSM2629397_AB1740.txt		    GSM2629447_AB2442.txt
GSM2629398_AB1741.txt		    GSM2629448_AB2443.txt
GSM2629399_AB1742.txt		    GSM2629449_AB2444.txt
GSM2629400_AB1743.txt

In [4]:
import pandas as pd
df=pd.read_csv(,sep="\t",header=None)
df

          0      1                               2
0    AB1442   SB79             AD6m mouse1 plate#1
1    AB1443   SB79             WT6m mouse1 plate#2
2    AB1444   SB79             WT6m mouse1 plate#1
3    AB1445   SB79             AD6m mouse1 plate#2
4    AB1446   SB79             WT6m mouse1 plate#3
..      ...    ...                             ...
104  AB2440  SB126  WT6m_cerebellum_mouse1_plate#2
105  AB2441  SB126      WT6m_cortex_mouse2_plate#1
106  AB2442  SB126      WT6m_cortex_mouse2_plate#2
107  AB2443  SB126  WT6m_cerebellum_mouse2_plate#1
108  AB2444  SB126  WT6m_cerebellum_mouse2_plate#2

[109 rows x 3 columns]

In [8]:
for line in open("AD/info.tsv"):
    arr=line.strip().split("\t")
    if "WT6m_mouse" in arr[2]:
        print("?",arr)
    elif "AD6m_mouse" in arr[2]:
        print(">",arr)

> ['AB1864', 'SB100', 'AD6m_mouse4_plate#1']
> ['AB2322', 'SB121', 'AD6m_mouse2_plate#1']
> ['AB2323', 'SB121', 'AD6m_mouse2_plate#2']
> ['AB2324', 'SB121', 'AD6m_mouse2_plate#3']
> ['AB2325', 'SB121', 'AD6m_mouse2_plate#4']
> ['AB2326', 'SB121', 'AD6m_mouse2_plate#5']
> ['AB2327', 'SB121', 'AD6m_mouse2_plate#6']
> ['AB2328', 'SB121', 'AD6m_mouse3_plate#1']
> ['AB2329', 'SB121', 'AD6m_mouse3_plate#2']
> ['AB2330', 'SB121', 'AD6m_mouse3_plate#3']
> ['AB2331', 'SB121', 'AD6m_mouse3_plate#4']
> ['AB2332', 'SB121', 'AD6m_mouse3_plate#5']
> ['AB2333', 'SB121', 'AD6m_mouse3_plate#6']
? ['AB2334', 'SB121', 'WT6m_mouse2_plate#1']
? ['AB2335', 'SB121', 'WT6m_mouse2_plate#2']
? ['AB2336', 'SB121', 'WT6m_mouse2_plate#3']
? ['AB2337', 'SB121', 'WT6m_mouse2_plate#4']
? ['AB2338', 'SB121', 'WT6m_mouse2_plate#5']
? ['AB2339', 'SB121', 'WT6m_mouse2_plate#6']
? ['AB2340', 'SB121', 'WT6m_mouse3_plate#1']
? ['AB2341', 'SB121', 'WT6m_mouse3_plate#2']
? ['AB2342', 'SB121', 'WT6m_mouse3_plate#3']
? ['AB2343', 'SB121', 'WT6m_mouse3_plate#4']
? ['AB2344', 'SB121', 'WT6m_mouse3_plate#5']
? ['AB2345', 'SB121', 'WT6m_mouse3_plate#6']

In [16]:
import glob
filenames=glob.glob("AD/data/*_"+"AB2324"+".txt")
filename = filenames[0]
filename

'AD/data/GSM2629408_AB2324.txt'

In [19]:
df=pd.read_csv(filename,sep="\t")
df.mean(axis=1)

0610005C13Rik    0.000000
0610007C21Rik    0.114583
0610007L01Rik    0.057292
0610007P08Rik    0.000000
0610007P14Rik    0.013021
                   ...
snoZ159          0.000000
snoZ178          0.000000
snoZ39           0.000000
snoZ40           0.000000
snosnR60_Z15     0.000000
Length: 34016, dtype: float64

In [20]:
import glob
WT=[]
AD=[]
for line in open("AD/info.tsv"):
    arr=line.strip().split("\t")
    if "WT6m_mouse" in arr[2]:
        target=arr[0]
        filenames=glob.glob("AD/data/*_"+target+".txt")
        filename = filenames[0]
        df=pd.read_csv(filename,sep="\t")
        df2=df.mean(axis=1)
        WT.append(df2)
    elif "AD6m_mouse" in arr[2]:
        target=arr[0]
        filenames=glob.glob("AD/data/*_"+target+".txt")
        filename = filenames[0]
        df=pd.read_csv(filename,sep="\t")
        df2=df.mean(axis=1)
        AD.append(df2)

In [22]:
WT[1]

0610005C13Rik    0.000000
0610007C21Rik    0.114583
0610007L01Rik    0.031250
0610007P08Rik    0.007812
0610007P14Rik    0.015625
                   ...
snoZ159          0.000000
snoZ178          0.000000
snoZ39           0.000000
snoZ40           0.000000
snosnR60_Z15     0.000000
Length: 34016, dtype: float64

In [24]:
WT_df=pd.concat(WT,axis=1)
AD_df=pd.concat(AD,axis=1)

In [25]:
AD_df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0610005C13Rik,0.000000,0.000000,0.000000,0.000000,0.002604,0.005208,0.000000,0.000000,0.000000,0.000000,0.002604,0.000000,0.013021
0610007C21Rik,0.135417,0.174479,0.117188,0.114583,0.210938,0.098958,0.062500,0.132812,0.059896,0.072917,0.179688,0.101562,0.151042
0610007L01Rik,0.031250,0.091146,0.062500,0.057292,0.096354,0.049479,0.033854,0.093750,0.020833,0.036458,0.039062,0.044271,0.080729
0610007P08Rik,0.026042,0.049479,0.015625,0.000000,0.005208,0.007812,0.002604,0.052083,0.002604,0.013021,0.005208,0.007812,0.054688
0610007P14Rik,0.046875,0.007812,0.039062,0.013021,0.005208,0.026042,0.010417,0.049479,0.015625,0.015625,0.013021,0.015625,0.036458
...,...,...,...,...,...,...,...,...,...,...,...,...,...
snoZ159,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
snoZ178,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
snoZ39,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.005208,0.000000,0.000000,0.000000
snoZ40,0.000000,0.002604,0.000000,0.000000,0.000000,0.000000,0.002604,0.002604,0.000000,0.002604,0.000000,0.000000,0.002604
snosnR60_Z15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [29]:
wt=WT_df.mean(axis=1)
ad=AD_df.mean(axis=1)

df_all=pd.concat([wt,ad],axis=1)
df_all.columns=["WT","AD"]
df_all

                     WT        AD
0610005C13Rik  0.000217  0.001803
0610007C21Rik  0.111762  0.123998
0610007L01Rik  0.056858  0.056691
0610007P08Rik  0.013238  0.018630
0610007P14Rik  0.028212  0.022636
...                 ...       ...
snoZ159        0.000000  0.000000
snoZ178        0.000000  0.000000
snoZ39         0.000651  0.000401
snoZ40         0.001302  0.001002
snosnR60_Z15   0.000000  0.000000

[34016 rows x 2 columns]

In [33]:
gene_list=[]
for line in open("./03data_bbknn/all2.txt"):
    e=line.strip().split("\t")[0]
    gene_list.append(e)

In [47]:
df_all_re=df_all.reindex(index=gene_list[1:])
df_all_re.index.name ="@name"
df_all_re=df_all_re.fillna(0)
df_all_re

               WT        AD
@name
Sox17    0.000000  0.000401
Mrpl15   0.037760  0.044471
Msc      0.000217  0.000000
Rdh10    0.011936  0.013021
Stau2    0.028429  0.021635
...           ...       ...
S100g    0.000000  0.000000
Tmem27   0.000000  0.000000
Gpm6b    0.003689  0.008413
Trappc2  0.007378  0.017027
Tmsb4x   7.421875  7.327324

[2488 rows x 2 columns]

In [48]:
df_all_re.to_csv("AD/wt_ad.txt",sep="\t")

In [49]:
! head AD/wt_ad.tsv

@name	WT	AD
Sox17	0.0	0.00040064102564102563
Mrpl15	0.037760416666666664	0.04447115384615384
Msc	0.00021701388888888888	0.0
Rdh10	0.011935763888888888	0.013020833333333332
Stau2	0.028428819444444444	0.021634615384615384
Gdap1	0.00021701388888888888	0.00020032051282051281
Pi15	0.00021701388888888888	0.0
Il17a	0.0	0.0
Gsta3	0.0	0.0

In [50]:
! ingor --read file=result_all3.sgn3 --ec data="./AD/wt_ad.txt",method=ECv -o "AD/wt_ad_ecv.txt"

INGOR release 0.13.0 (hash: c697e2f) (Wed Aug 18 16:38:13 2021)
  Copyright (C) 2018-2021 Yoshinori Tamada
Random seed:	1714155110
Max memory: 1,048,576,000 [Byte] (1,000 [MiB])
candidates: 10
maxParents: 10
Output file type: AD/wt_ad_ecv.txt
Algorithm: cghc
No input file specified. Skipping to perform the algorithm.
Algorithm finished.
X-ALL-TIME:	0.000671
0 day 00 hour 00 min 00.001 sec
Applying a filter: --read
ReadFilter: Reading: result_all3.sgn3.
  Edge attributes: edgeScore (double) BS.Prob (double) BS.Direction (double) bspline (DoubleArray) gain (double)
  Node attributes: type (string) hubness (int) BS.HubIndex (double) mean (double) variance (double)
  2488 nodes, 12076 edges
Applying a filter: --ec
EdgeContribFilter: 2488 variables of data found in network with 2488 nodes.
EdgeContribFilter: Data read. p=2488, n=2
EdgeContribFilter: Max memory = 734,003,200
BNDC: Initializing the BNDC score function.
BNDC:   p=2488, n=2, max_parents=13
BNDC:   max discrete parents=0
BNDC:   max continuous parents=13
BNDC:   Max memory=734,003,200 [Byte]
BNDC: Pre-calculation level = 3
BNDC:   required memory = 17 [MiB]
BNRC: No missing value found.
BNRC: B-spline Hyperparameters (h=21): {100.000000, 39.810717, 15.848932, 6.309573, 2.511886, 1.000000, 0.398107, 0.158489, 0.063096, 0.025119, 0.010000, 0.003981, 0.001585, 0.000631, 0.000251, 0.000100, 0.000040, 0.000016, 0.000006, 0.000003, 0.000001}
BNDC: Calculating B (design matrix)...
BNDC: Total memory usage: 17,529,148 [bytes] (17 [MiB])
BNDC: Finished BNDC initialization.
EdgeContribFilter: # of primary IDs = 2
EdgeContribFilter: Calculating Edge Contribution values (method=ECv)...
  2488 nodes, 12076 edges
Writing a network into file.
TXT: 2488 nodes
TXT: Edge Properties: edgeScore, BS.Prob, BS.Direction, bspline, gain, ECv:WT, ECv:AD
Finished.

In [51]:
! ls AD/wt_ad_ecv.txt

AD/wt_ad_ecv.txt